body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #eee;
  background-image: url("professional-website-background-images-hd-8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  margin: 0;
}

h1 {
  font-size: 4em;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 1.1;
  text-align: center;
  padding: 10px;
}

p {
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

nav {
  height: 40px;
  width: 100%;
  background-color: #ffffffad;
  color: #eee;
box-shadow: inset 79px 64px 221px -69px rgba(243, 167, 27, 0.75);
 font-weight: bold;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #060000;
  text-decoration: none;
}

nav a#openup {
  display: none;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.8em;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background-color: #ffffffad;
    border-bottom: 1px solid #555;
    box-shadow: inset 79px 64px 221px -69px rgba(88, 110, 142, 0.75);
  }
  
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #ffffffad;
    width: 100%;
    position: relative;
  }
}
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */
